* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

body{
    font-family: "Red Hat Text", sans-serif;
    font-weight: 700;
}

.content {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
    background-image: url("images/pattern-hills.svg");
    background-position: center;
    background-size: 100% 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
}

.attribution p {
    margin: 10%;
    height: fit-content;
    color: hsl(0, 0%, 100%);
}

.attribution p a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.attribution p a:hover {
    color: hsl(345, 95%, 68%);
}

body {
    background-color: hsl(234, 17%, 12%);
    background-image: url("images/bg-stars.svg");
    overflow: hidden;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 3vw;
    text-align: center;
}

#timer{
    display: flex;
    flex-direction: row;
    color: hsl(345, 95%, 68%);
}